input text {
    display: inline-block;
    float: left;
    font-size: large;
}

span {
    font-size: large;
}

#divEHP {
    float: left;
    margin-right: 70px;
}

#divEHP label {
    display: inline-block;
    float: left;
    clear: left;
    width: 90px;
    text-align: left;
    font-size: large;
}

#divACC {
    float: left;
}

#divACC label {
    display: inline-block;
    float: left;
    clear: left;
    width: 130px;
    text-align: left;
    font-size: large;
}